body {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0 20px 0;
    a {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        padding: 0;
    }
    ul {
        li {
            a.nav-link {
                padding-bottom: 2px;
            }
            padding: 0;
            .active {
                color: red;
                border-bottom: 1px solid red;
            }
        }
    }
}